{% extends "base.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block TopMenu %}
    {{ parent() }}
{% endblock %}

{% block RegMenu %}
    {{ parent() }}
{% endblock %}

{% block Avatar %}
    {{ parent() }}
{% endblock %}

{% block LeftMenu %}
    {{ knp_menu_render('SMetricMenuBundle:Builder:adminMenu') }}
{% endblock %}

{% block MainContent %}
    <h2><span class="badge badge-secondary">СисАдмин:</span>&nbsp;{{ user.empfamily }}&nbsp;{{ user.empname }}&nbsp;{{ user.empsoname }}</h2>
    <p class="lead">Архивирование</p>
    <p>Архивирование информации в системе - полное и частичное, разовое и по расписанию
    </p>
{% endblock %}

{% block Footer %}
    {{ parent() }}
{% endblock %}