{% extends "base.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block TopMenu %}
    {{ parent() }}
{% endblock %}

{% block RegMenu %}
    {{ parent() }}
{% endblock %}

{% block Avatar %}
    {{ parent() }}
{% endblock %}

{% block LeftMenu %}
    {{ knp_menu_render('SMetricMenuBundle:Builder:adminMenu') }}
{% endblock %}

{% block MainContent %}
    <h2><span class="badge badge-secondary">СисАдмин:</span>&nbsp;{{ user.empfamily }}&nbsp;{{ user.empname }}&nbsp;{{ user.empsoname }}</h2>
    <p class="lead">Отчёты</p>
    <p>Просмотр, печать и сохраннение во внешние файлы отчётов по работе
        системы, отдельных её компонент и содержимого
    </p>
{% endblock %}

{% block Footer %}
    {{ parent() }}
{% endblock %}