{% extends "::base.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block TopMenu %}
    {{ parent() }}
{% endblock %}

{% block RegMenu %}
    {{ parent() }}
{% endblock %}

{% block Avatar %}
    {{ parent() }}
{% endblock %}

{% block LeftMenu %}
{% endblock %}

{% block MainContent %}
    <h1>Выход</h1>
{% endblock %}

{% block Footer %}
    {{ parent() }}
{% endblock %}