{% extends "base.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block TopMenu %}
    {{ parent() }}
{% endblock %}

{% block RegMenu %}
    {{ parent() }}
{% endblock %}

{% block Avatar %}
    {{ parent() }}
{% endblock %}

{% block LeftMenu %}
    {{ knp_menu_render('AppBundle:Builder:emplMenu') }}
{% endblock %}

{% block MainContent %}
    <h2><span class="badge badge-secondary">Сотрудник: </span>&nbsp;{{ user.empfamily }}&nbsp;{{ user.empname }}&nbsp;{{ user.empsoname }}</h2>
    <p class="lead">Подготовка научных кадров: редактирование активности</p>
    <form method="post" action={{ path('sm_empl_sciment_edit', {sciID:sci.id}) }}>
        <div class="form-group form-row">
            <div class="col-sm-4 text-left">
                <p class="lead">Вид деятельности:</p>
            </div>
            <div class="col-sm-5 text-right">
                <label class="col-form-label">Дата регистрации:</label>
            </div>
            <div class="col-sm-3">
                <input type="date" name="RegDate" class="form-control" value={{ sci.regdate }}>
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <div class="col-form-legend col-sm-1"></div>
                <div class="col-sm-11">
                    {% for type in scitypes %}
                        <div class="form-check">
                            <label for="sciType" class="form-check-label">
                                <input name="sciType" class="form-check-input" type="radio"
                                       {% if sci.scitype == type.id %}
                                           checked
                                       {% endif %}
                                       value={{ type.id }}>
                                {{ type.description }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </fieldset>

        <div class="form-group form-row">
            <label for="disFIO" class="col-sm-3 col-form-label">
                Ф.И.О. диссертанта:
            </label>
            <textarea name="disFIO" id="disFIO" type="text" class="col-sm-5 form-control form-control-sm"
                      rows="1">{{ sci.disauthor }}</textarea>
            <label for="Status" class="col-sm-2 col-form-label text-right">
                Уч.степень:
            </label>
            <select name="Status" id="Status" class="custom-select col-sm-2">
                {% for st in scistatus %}
                    <option
                            {% if sci.disstatus == st.id %}
                                selected
                            {% endif %}
                            value={{ st.id }}>{{ st.scistatus }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group form-row">
            <label for="disTitle" class="col-sm-3 col-form-label">
                Тема диссертации:
            </label>
            <textarea name="disTitle" id="disTitle" type="text" class="col-sm-9 form-control form-control-sm"
                      rows="3">{{ sci.distitle }}</textarea>
        </div>

        <div class="form-group form-row">
            <label for="disCouncil" class="col-sm-3 col-form-label text-right">
                Дисс. совет:
            </label>
            <select name="disCouncil" id="disCouncil" class="custom-select col-sm-3">
                {% for dc in discouncil %}
                    <option
                            {% if sci.discouncil == dc.id%}
                                selected
                            {% endif %}
                            value={{ dc.id }}>{{ dc.number }}</option>
                {% endfor %}
            </select>

            <label for="Speciality" class="col-sm-3 col-form-label text-right">
                Специальность:
            </label>
            <select name="Speciality" id="Speciality" class="custom-select col-sm-3">
                {% for sp in speciality %}
                    <option
                            {% if sci.disspeciality == sp.id %}
                                selected
                            {% endif %}
                            value={{ sp.id }}>{{ sp.number }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group form-row">
            <label for="disDefDate" class="col-sm-3 col-form-label text-right">
                Дата защиты:
            </label>
            <input name="disDefDate" id="disDefDate" type="date" class="col-sm-3" value={{ sci.disdefdate }}>

            <label for="disVAKDate" class="col-sm-3 col-form-label text-right">
                Регистрация ВАК:
            </label>
            <input name="disVAKDate" id="disVAKDate" type="date" class="col-sm-3" value={{ sci.disvakdate }}>
        </div>

        <div class="form-group form-row">
            <div class="col-sm-6 text-right">
                <button type="submit" name="btnSubmit" value="SaveSci" class="btn btn-primary col-sm-9">Сохранить и вернуться</button>
            </div>
            <div class="col-sm-6 text-right">
                <button type="submit" name="btnSubmit" value="DontSaveSci" class="btn btn-primary col-sm-9">Вернуться без сохранения</button>
            </div>
        </div>
        <input type="hidden" name="formName" value="SciEdit">
    </form>
{% endblock %}

{% block Footer %}
    {{ parent() }}
{% endblock %}