{% extends "base.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block TopMenu %}
    {{ parent() }}
{% endblock %}

{% block RegMenu %}
    {{ parent() }}
{% endblock %}

{% block Avatar %}
    {{ parent() }}
{% endblock %}

{% block LeftMenu %}
    {{ knp_menu_render('AppBundle:Builder:emplMenu') }}
{% endblock %}

{% block MainContent %}
    <h2><span class="badge badge-secondary">Сотрудник: </span>&nbsp;{{ user.empfamily }}&nbsp;{{ user.empname }}&nbsp;{{ user.empsoname }}</h2>
    <form>
        <div class="form-row">
            <div class="col-sm-6">
                <p class="lead">Объекты интеллектуальной собственности:</p>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-primary btn-sm" href={{ path('sm_empl_patents_new') }} role="button">Новый</a>
            </div>
            <label for="patentsRepYear" class="col-sm-2 col-form-label text-right">Отч.год:</label>
            <div class="col-sm-2">
                <select id="patentsRepYear" class="form-control form-control-sm">
                    <option>2017</option>
                    <option>2018</option>
                </select>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover table-sm">
            <thead class="thead-inverse">
            <tr>
                <th>№</th>
                <th>Права на объекты интеллектуальной собственности</th>
                <th class="text-right">Команды</th>
            </tr>
            </thead>
            <tbody>
            {% if pubs == null %}
                <tr>
                    <td></td>
                    <td>
                        <p>Опубликованных Объектов интеллектуальной собственности не зарегистрировано</p>
                    </td>
                    <td></td>
                </tr>
            {% else %}
                {% set i = 0 %}
                {% for oip in pubs %}
                    {% set i = i + 1 %}
                    <tr>
                        <td width="5%">
                            {{ i }}
                        </td>
                        <td width="80%">
                            {{ oip.allauthors|e }}<br>
                            {% if oip.type == 1 %}
                                Международный патент
                            {% elseif oip.type == 2 %}
                                Российский патент на изобретение
                            {% elseif oip.type == 3 %}
                                Российский патент на полезную модель
                            {% elseif oip.type == 4 %}
                                Свидетельство регистрации ПО или БД
                            {% endif %}
                            &nbsp;"{{ oip.title }}"<br>
                            <strong>№ свидетельства: </strong>{{ oip.regnum }},&nbsp<strong>№ бюллетеня: </strong>{{ oip.pubnum }}<br>
                            <strong>Дата приоритета: </strong>{{ oip.priordate|date('d-m-Y') }},&nbsp<strong>Дата рег-ции: </strong>{{ oip.regdate|date('d-m-Y') }}
                        </td>
                        <td class="text-right" width="15%">
                            <a href={{ path('sm_empl_patents_view', {oipID:oip.id}) }}>
                                <i class="fa fa-search" data-toggle="tooltip" data-placement="top" title="Просмотр"></i>
                            </a>&nbsp;&nbsp;
                            <a href={{ path('sm_empl_patents_edit', {oipID:oip.id}) }}>
                                <i class="fa fa-pencil" data-toggle="tooltip" data-placement="top" title="Редактировать"></i>
                            </a>&nbsp;&nbsp;
                            <a href={{ path('sm_empl_patents_delete', {oipID:oip.id}) }}>
                                <i class="fa fa-trash" data-toggle="tooltip" data-placement="top" title="Удалить"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </form>
{% endblock %}

{% block Footer %}
    {{ parent() }}
{% endblock %}