{% extends "base.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block TopMenu %}
    {{ parent() }}
{% endblock %}

{% block RegMenu %}
    {{ parent() }}
{% endblock %}

{% block Avatar %}
    {{ parent() }}
{% endblock %}

{% block LeftMenu %}
    {{ knp_menu_render('AppBundle:Builder:emplMenu') }}
{% endblock %}

{% block MainContent %}
    <h2><span class="badge badge-secondary">Сотрудник: </span>&nbsp;{{ user.empfamily }}&nbsp;{{ user.empname }}&nbsp;{{ user.empsoname }}</h2>
    <p class="lead">Удаление учебника, пособия или монографии</p>
    <form method="post" action={{ path('sm_empl_pubs_mono_delete', { monoID:mono.id}) }}>
        <div class="form-group form-row">
            <label for="monoAuthors" class="col-sm-2 col-form-label">Авторы:</label>
            <div class="col-sm-10">
                <textarea id="monoAuthors" type="text" readonly class="form-control form-control-sm"
                          rows="1">{{ mono.allauthors }}</textarea>
            </div>
        </div>
        <div class="form-group form-row">
            <label for="monoAuthorsFRC" class="col-sm-6 col-form-label">Число авторов - сотрудников ФИЦ ИУ РАН:</label>
            <div class="col-sm-6">
                <input id="monoAuthorsFRC" type="text" readonly class="form-control form-control-sm"
                        data-toggle="tooltip" data-placement="top" title="Введите число авторов, являющихся сотрудниками ФИЦ ИУ РАН"
                        value={{ mono.numbauthfrc }}>
            </div>
        </div>
        <div class="form-group form-row">
            <label for="monoTitle" class="col-sm-2 col-form-label">Название:</label>
            <div class="col-sm-10">
                <textarea id="monoTitle" readonly class="form-control form-control-sm text-left" rows="4">{{ mono.title }}
                </textarea>
            </div>
        </div>
        <div class="form-group form-row">
            <label for="monoPlacePub" class="col-sm-1 col-form-label">Место:</label>
            <div class="col-sm-3">
                <textarea id="monoPlacePub" type="text" readonly class="form-control form-control-sm"
                          rows="1">{{ mono.pubplace }}</textarea>
            </div>
            <label for="monoPub" class="col-sm-2 col-form-label">Издательство:</label>
            <div class="col-sm-6">
                <textarea id="monoPub" type="text" readonly class="form-control form-control-sm"
                          rows="1">{{ mono.publisher }}</textarea>
            </div>
        </div>
        <div class="form-group form-row">
            <label for="monoYear" class="col-sm-1 col-form-label text-right">Год:</label>
            <div class="col-sm-1">
                <input type="text" id="monoYear" readonly class="form-control form-control-sm" value={{ mono.pubyear }}>
            </div>
            <label for="monoPages" class="col-sm-1 col-form-label text-right">Стр:</label>
            <div class="col-sm-1">
                <input id="monoPages" type="text" readonly class="form-control form-control-sm" value={{ mono.pages }}>
            </div>
            <label for="monoISBN" class="col-sm-1 col-form-label text-right">ISBN:</label>
            <div class="col-sm-4">
                <input id="monoISBN" type="text" readonly class="form-control form-control-sm" value={{ mono.isbn }}>
            </div>
            <label for="monoCirculation" class="col-sm-1 col-form-label text-right">Тираж:</label>
            <div class="col-sm-2">
                <input id="monoCirculation" type="text" readonly class="form-control form-control-sm" value={{ mono.circulation }}>
            </div>
        </div>
        <div class="form-group form-row">
            <div class="col-sm-6 text-right">
                <button type="submit" name="btnSubmit" value="DontDeleteMono" class="btn btn-primary btn-sm col-sm-9">Вернуться без удаления</button>
            </div>
            <div class="col-sm-6 text-right">
                <button type="submit" name="btnSubmit" value="DeleteMono" class="btn btn-primary btn-sm col-sm-9">Удалить и вернуться</button>
            </div>
        </div>
        <input type="hidden" name="formName" value="EmpDeleteMono">
    </form>
{% endblock %}

{% block Footer %}
    {{ parent() }}
{% endblock %}