{% extends "base.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block TopMenu %}
    {{ parent() }}
{% endblock %}

{% block RegMenu %}
    {{ parent() }}
{% endblock %}

{% block Avatar %}
    {{ parent() }}
{% endblock %}

{% block LeftMenu %}
    {{ knp_menu_render('AppBundle:Builder:emplMenu') }}
{% endblock %}

{% block MainContent %}
    <h2><span class="badge badge-secondary">Сотрудник: </span>&nbsp;{{ user.empfamily }}&nbsp;{{ user.empname }}&nbsp;{{ user.empsoname }}</h2>
    <form>
        <div class="form-row">
            <div class="col-sm-4">
                <p class="lead">Публикация статей:</p>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-primary btn-sm" href={{ path('sm_empl_pubs_article_new') }}>Новая</a>
            </div>
            <div class="col-sm-4">
                <p class="lead text-right">Отч.год:</p>
            </div>
            <div class="col-sm-2">
                <select class="form-control form-control-sm" id="empRepYear">
                    <option>2017</option>
                    <option>2018</option>
                </select>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover table-sm">
            <thead class="thead-inverse">
            <tr>
                <th>Опубликованные статьи</th>
                <th class="text-right">Команды</th>
            </tr>
            </thead>
            <tbody>
            {% if pubs == null %}
                <tr>
                    <td>
                        <p>Опубликованных статей не зарегистрировано</p>
                    </td>
                    <td>

                    </td>
                </tr>
            {% else %}
                {% for article in pubs %}
                    <tr>
                        <td width="85%">
                            <strong>Авторы: </strong>{{ article.allauthors|e }}<br>
                            <strong>Название: </strong>{{ article.title|e }}<br>
                            <strong>Журнал: </strong>{{ article.magazine|e }}<br>
                            <strong>Год: </strong>{{ article.year }}
                            <strong> Том: </strong>{{ article.volume|e }}
                            <strong> №: </strong>{{ article.number|e }}
                        </td>
                        <td class="text-right" width="15%">
                            <a href={{ path('sm_empl_pubs_article_view', {artID:article.id}) }}>
                                <i class="fa fa-search" data-toggle="tooltip" data-placement="top" title="Просмотр"></i>
                            </a>&nbsp;&nbsp;
                            <a href={{ path('sm_empl_pubs_article_edit', {artID:article.id}) }}>
                                <i class="fa fa-pencil" data-toggle="tooltip" data-placement="top" title="Редактировать"></i>
                            </a>&nbsp;&nbsp;
                            <a href={{ path('sm_empl_pubs_article_delete', {artID:article.id}) }}>
                                <i class="fa fa-trash" data-toggle="tooltip" data-placement="top" title="Удалить"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </form>
{% endblock %}

{% block Footer %}
    {{ parent() }}
{% endblock %}