{% extends "base.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block TopMenu %}
    {{ parent() }}
{% endblock %}

{% block RegMenu %}
    {{ parent() }}
{% endblock %}

{% block Avatar %}
    {{ parent() }}
{% endblock %}

{% block LeftMenu %}
    {{ knp_menu_render('AppBundle:Builder:analitMenu') }}
{% endblock %}

{% block MainContent %}
    <h2><span class="badge badge-secondary">Аналитик:</span>&nbsp;{{ user.empfamily }}&nbsp;{{ user.empname }}&nbsp;{{ user.empsoname }}</h2>
    <p class="lead">Организационная структура</p>
    <p>Просмотр и редактирование информации по организационной структуре ФИЦ ИУ РАН</p>
{% endblock %}

{% block Footer %}
    {{ parent() }}
{% endblock %}